body,
.cars__header,
.constractor,
.constructor__parametrs {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.constructor__form {
	width: 85%;
}
.constructor__parametrs {
	border: 2px solid #000000;
    border-radius: 10px;
}
legend {
	text-align: center;
	color: #000000;
	text-transform: uppercase;
	font-weight: bold;
}
.constructor__block {
	margin: 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	font-size: 16px;
    font-family: serif;
    font-weight: bold;
    text-transform: uppercase;
}
label {
	text-align: center;
	font-size: 16px;
    font-family: serif;
    font-weight: bold;
    text-transform: uppercase;
}
.button,
.input,
.input--wide,
.cars__btns > button {
	border: 2px solid #000000;
	border-radius: 5px;
	background-color: #ffffff;
	color: #000000;
	text-transform: uppercase;
	padding: 5px 2px 5px 10px;
	margin: 5px;
	width: 85%;
}
.input--wide {
	width: 93%;
}
.constructor__greate-car {
	margin: 10px auto;
	padding: 10px;
}
.button,
.cars__btns > button {
	font: inherit;
	font-weight: bold;
	cursor: pointer;
}
.button:hover,
.cars__btns > button:hover {
	background-color: #cdcdcd;
	transition: 0.2s all linear;
}
.cars__output {
	width: 90%;
	padding: 20px;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}
.cars__card {
	position: relative;
	width: 45%;
	border: 2px solid #000000;
	border-radius: 5px;
	margin: 10px;
	padding: 15px;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.cars__title {
	text-transform: uppercase;
	width: 40%;
}
.cars__image {
	width: 320px;
	height: auto;
	cursor: pointer;
	margin-bottom: 10%;
}
.car-info {
	width: 50%;
	font-size: 16px;
	font-style: italic;
	margin-bottom: 65px;
}
.cars__btns {
	width: 37%;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    position: absolute;
    top: 25px;
}
.cars__btns > button {
	width: 100%;
}
.output-massage {
	align-self: center;
	min-height: 20px;
	width: 70%;
	padding: 5px 10px;
	border-radius: 5px;
	border: 2px solid darkgray;
	background-color: lightgray;
	color: darkgray;
}
.output-massage--success {
	border-color: darkgreen;
	background-color: lightgreen;
	color: darkgreen;
}
.output-massage--error {
	border-color: darkred;
	background-color: pink;
	color: darkred;
}
.output-massage--warning {
	border-color: orange;
	background-color: yellow;
	color: orange;
}