.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.btns {
	display: flex;
}
.btns-wrapper {
	display: flex;
	flex-direction: column;
}
.btns__btn {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 130px;
	min-height: 40px;
	margin: 5px;
	border: 2px solid #000000;
	border-radius: 5px;
	text-align: center;
	background-color: #ffffff;
	cursor: pointer;
}
.btns__btn:hover {
	border-color: #cccccc;
	color: #cccccc;
	background-color: #000000;
	transition: 0.3s all linear;
}
.cart__btns-wrapper {
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}
.btns__btn--radio {
	display: none;
}
.btns__btn label {
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}
.btns__btn--radio:checked + .btns__btn {
	border-color: green;
} 
.btns__btn--radio:checked + .btns__btn label {
	color: green;
}
.btn__delete,
.btn__clear {
	border-color: red;
	color: red;
}
.btns__btn:disabled {
	border-color: grey;
	color: grey;
}
.cart-output {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
}
.cart__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	list-style: none;
	padding: 0;
	margin: 0;
	width: 90%;
	border: 2px solid gray;
	border-radius: 5px;
}
.cart__item {
	min-width: 15%;
	flex-grow: 1;
	margin: 5px;
	padding: 15px;
	border: 2px solid #000000;
	border-radius: 5px;
}
/*.cart__item:last-child {
	flex-grow: 1;
} */