html {
	font-size: 65%;
	font-family: Arial, sans-serif;
	color: #1b160f;
}
body {
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	/*overflow: hidden;*/
}
.header {
	width: 90%;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding: 20px;
}
.header__logo {
	width: 240px;
    height: 85px;
	padding: 20px;
}
.header__title {
	width: 200px;
	padding: 20px;
}
.atm {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 90%;
}

.button,
.button--add,
.button--remove {
	background-color: #ffffff;
	border: 2px solid orange;
	color: #214973;
    font-size: 1.5rem;
    padding: 8px;
    margin: 5px;
    border-radius: 10px 5px;
    text-decoration: none;
    margin-bottom: 45px;
}
.button:hover,
.button--add:hover,
.button--remove:hover {
	background-color: grey;
	border-color: black;
	color: white;
	transform: 0.2s all linear;
	cursor: pointer;
}
.button:disabled,
.button--add:disabled,
.button--remove:disabled {
	background-color: lightgrey;
	border-color: darkgrey;
	color: darkgrey;
	pointer-events: none;
}
.button--add {
	background-color: #00b4f9;
}
.button--remove {
	background-color: #f9e600;
}

.atm__output {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}
.atm__list {
	margin: 0;
	padding: 0;
	display: flex;
	align-items: flex-end;
	flex-wrap: wrap;
}
.atm__item {
	position: relative;
	list-style: none;
	margin: 10px;
    width: 22%;
}
.atm__title,
.welcome__title {
	font-size: 1.6rem;
    line-height: 1.4;
    text-align: center;
    overflow: hidden;
    text-overflow: ellipsis;
    font-style: italic;
}
.atm__photo {
	width: 100%;
    height: 150px;
	display: block;
	border: 2px solid orange;
	border-radius: 20px 5px;
}
.atm__photo--mode {
	cursor: pointer;
}
.atm__info {
	position: absolute;
    width: 50%;
    bottom: 32%;
    left: 23%;
    padding: 4px;
    background-color: black;
    opacity: 0.7;
    color: white;
    text-align: center;
    border-radius: 5px;
    border-left: 10px solid white;
    pointer-events: none;
}
.welcome__title {
	color: #1b160f;
    font-style: italic;
    font-weight: bold;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.welcome__image {
	width: 100%;
	height: 100vh;
	position: absolute;
	z-index: -1;
	top: 0;
	left: 0;
}
.atm__input {
	border: 2px solid orange;
	color: #214973;
    font-size: 1.5rem;
    padding: 8px;
    margin: 5px;
    border-radius: 10px 5px;
    background-color: #ffffff;
}
.atm__input::placeholder {
	font-style: italic;
}
.hidden {
	display: none;
}
.modal {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	z-index: 5;
	background-color: rgba(0, 0, 0, 0.9);
}
.modal__wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 75%;
	background-color: #ffffff;
	border: 2px solid orange;
	border-radius: 20px 5px;
	padding: 20px;
}
.modal__message {
	display: flex;
	position: relative;
	width: 60%;
	font-size: 2rem;
    line-height: 1.2;
    font-style: italic;
    text-align: center;
    padding: 10px;
    padding-bottom: 20px;
    text-align: left;
}
.balance-string {
	display: block;
	padding: 5px;
}
.input__pin {
	display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}
.input__block {
	display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: column;
}
.message {
	position: absolute;
	bottom: 3px;
    width: 94%;
    margin: 5px;
    padding: 8px 20px;
    border: 4px solid;
    border-radius: 10px 5px;
}
.message--sгccess {
	background-color: lightgreen;
	border-color: darkgreen;
	color: darkgreen;
}
.message--error{
	background-color: pink;
	border-color: red;
	color: red;
}
.message--warning {
	background-color: yellow;
	border-color: orange;
	color: orange;
}