.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.btns__btn {
	width: 130px;
	height: 40px;
	border: 2px solid #000000;
	border-radius: 5px;
	text-align: center;
	vertical-align: middle;
	background-color: #ffffff;
}
.btns__btn:hover {
	border-color: #cccccc;
	color: #cccccc;
	background-color: #000000;
	transition: 0.3s all linear;
}