body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0;
	padding: 0;
	font-family: "Arial", serif;
	text-transform: uppercase;
}
.user-form {
	position: relative;
	margin: 20px;
	margin-bottom: 45px;
}
.user-input {
	display: inline-block;
	padding: 5px 10px;
	border: 2px solid black;
	border-radius: 5px;
	text-transform: uppercase;
}
.button {
	display: inline-block;
	padding: 5px 10px;
	border: 2px solid black;
	border-radius: 5px;
	background-color: white;
	cursor: pointer;
}
.button:disabled,
.button:disabled:hover {
	background-color: grey;
	color: darkgray;
}
.button:hover {
	background-color: grey;
	color: white;
	transition: 0.2s all linear;
}
.button--inside {
	width: 50%;
	border-radius: 0;
	border-width: 1px;
	border-bottom-width: 0;
}
.initButton {
	width: 140px;
	font-size: 20px;
}
.removeBtn:hover {
	background-color: red;
	color: white;
}
.userRenameBtn:hover {
	background-color: darkgreen;
	color: white;
}
.status {
	position: absolute;
	display: block;
	margin: 5px;
	padding: 5px 10px;
	text-transform: uppercase;
	border: 2px solid;
	border-radius: 5px;
}
.status--success,
.userRenameBtn {
	border-color: darkgreen;
	background-color: lightgreen;
	color: darkgreen;
}
.status--error,
.removeBtn {
	border-color: red;
	background-color: pink;
	color: red;
}
.cards {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	width: 82%;
	padding: 10px;
	border: 2px solid black;
	border-radius: 10px;
}
.card {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 5px;
	border: 2px solid black;
}
.card:last-child {
	margin-right: auto;
}
.card__name {
	margin: 10px;
	margin-bottom: 5px;
}
.card__avatar {
	position: relative;
	display: block;
	margin: 5px 10px;
	margin-bottom: 15px;
	width: 150px;
	height: 150px;
	border-radius: 50%;
	cursor: pointer;
}
.card__info {
	position: absolute;
	bottom: 35px;
    right: 30px;
    z-index: 1;
	display: none;
	align-items: center;
	width: 100px;
	min-height: 20px;
	padding: 5px;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.7);
	color: white;
	font-size: 10px;
	text-align: center;
	pointer-events: none;
}
.card__buttons {
	width: 100%;
}
.hidden {
	display: none;
}
