html,
body {
	height : 100%;
	font-family : Verdana, Arial, sans-serif;
	color : orange;
	margin: 0;
	padding: 0;
}

.main-title {
	text-align: center;
}
.game-block {
	display : flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;
	height : 100%;
}
.game-container {
	height : 100%;
	text-align : center;
	max-width: 50%;
}
.game-canvas {
	position : relative;
	width : 400px;
	height : 400px;
	background-color : #ccc;
}
.fruit {
	position : absolute;
	display : none;
	width : 40px;
	height : 40px;
	cursor: crosshair;
}
.btns {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	order: -1;
    width: 25%;
    margin-right: 20px;
}
.game-settings {
	width: 85%;
	border: 2px solid orange;
	border-radius: 5px;
}
.select,
.btn {
	margin: 5px;
	padding: 3px 10px;
	background-color: transparent;
	border: 2px solid orange;  
	border-radius: 20px;
	color: inherit;
	font: inherit;
	cursor: pointer;
}
.fruit-select {
	width: 90%;	
	background-size: 20px;
	background-repeat: no-repeat;
	-ms-background-position-x: 85%;
	background-position-x: 85%;
	-ms-background-position-y: center;
	background-position-y: center;	
}
.select option {
	border-bottom: 2px solid orange;
}
.checbox-wrapper {
	margin: 10px;
}
.level-checbox,
.multifruit-checbox,
.combination-checbox {
	display: none;
}
.level-checbox-label,
.multifruit-checbox-label,
.combination-checbox-label {
	position: relative;
	margin-left: 15px;
}
.level-checbox-label::before,
.multifruit-checbox-label::before,
.combination-checbox-label::before {
	content: "";
	position: absolute;
	top: 3px;
    left: -20px;
	display: inline-block;
	width: 10px;
	height: 10px;
	border: 2px solid orange;
}
.level-checbox-label::after,
.multifruit-checbox-label::after,
.combination-checbox-label::after {
	content: "";
    position: absolute;
    top: 0px;
    left: -20px;
    display: none;
    width: 15px;
    height: 9px;
    border: 2px solid orange;
    border-top: none;
    border-right: none;
    transform: rotate(-45deg);
}
.level-checbox:checked ~ .level-checbox-label::after,
.multifruit-checbox:checked ~ .multifruit-checbox-label::after,
.combination-checbox:checked ~ .combination-checbox-label::after {
	display: inline-block;
}
.results-block,
.conbine-block {
	display: flex;
	flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 2px solid orange;
    border-radius: 5px;
    width: 25%;
    margin-left: 20px;
}
.results-title,
.conbine-title {
	margin: 0;
	padding: 5px;
}
.conbine-block {
	margin-right: 20px;
    margin-top: 10px;
    width: 92%;

}
.result-table {
	border-collapse: collapse;
    border: 3px solid orange;
    width: 90%;
    margin: 5px 0;
}
.conbine-table {
	width: auto;
    font-size: 11px;
}
.result-header {
	text-transform: uppercase;
	border: 2px solid orange;
}
.result-header-data,
.result-data {
	border: 2px solid orange;
}
.conbine-block {
	padding: 15px 0;
}
.combine-list {
	font-size: 40px;
	margin: 0;
}
.combine-description {
	font-size: 20px;
	margin: 5px;
}
.combine-total {
	font-size: 30px;
	margin-bottom: 0;
}
.hidden {
	display: none;
}