.popup-open {
	background-color: white;
	border: 2px solid black;
	color: black;
	border-radius: 2px;
	width: 200px;
	height: 50px;
	cursor: pointer;
}
.popup-wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.7);
	cursor: pointer;
}
.popup-container {
	position: relative;
	background-color: white;
	width: 70%;
	min-height: 300px;
	cursor: default;
	padding: 30px;
}
.popup-close {
	position: absolute;
	top: 0;
	right: 0;
	background-color: white;
	font-size: 0;
	border: none;
	width: 30px;
	height: 30px;
	cursor: pointer;
}
.popup-close::before,
.popup-close::after {
	position: absolute;
	right: 4px;
	content: "";
	display: block;
	width: 20px;
	height: 2px;
	background-color: black;
}
.popup-close::before {
	transform: rotate(45deg);
}
.popup-close::after {
	transform: rotate(-45deg);
}
.hidden {
	display: none;
}
.accordeon-list {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	list-style: none;
	margin: 0;
	padding: 10px;
}
.accordeon-item {
	width: 60%;
}
.accordeon-title {
	border: 1px solid black;
	margin: 0;
	padding: 5px;
	background-color: gray;
	cursor: pointer;
}
.accordeon-description {
	margin: 0;
	padding: 5px;
	background-color: #cdcdcd;
}